$color_page: #004fff;
$color_page_1: #f2f2f2;
$color_page_2: #e3e3e3;
$color_page_3: #d9d9d9;
$color_text: #474c54;
$color_text_2: #ffffff;
$color_footer: #f8f8f9;
$color_menu: #f8f8f9;
$color_boder: #dcdcdc;
$color_deduction: #ff0000;
$color_hover: rgba(0, 79, 255, 0.1);
$color_a_hover: #000;
$color_input_hover: #cccccc;
$color_button_hover: #0f356c;
$color_a: $color_page;
$highlight: $color_page;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700;800;900&display=swap');
$font_bevietnam: 'Be Vietnam Pro', sans-serif;
